# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java_fx_project\HelloWorldFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
